header {
  width: 100%;
  background-color: #1d1d1d;
}
.upper-text {
  color: #ffffff;
}
.lower-text {
  color: #727272;
}
/************************** header **************************/
.upper-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.telephone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lower-header {
  background-color: #ef5050;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lower-header .menu {
  max-width: 90%;
  padding-left: 10px;
}
.lower-header .button {
  max-width: 80%;
}
/************************** header **************************/

/************************** banner **************************/
.banner {
  background-image: url(./img/banner/background-img.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.banner .img1 {
  width: 550px;
  height: auto;
}
.banner .img2 {
  width: 270px;
  height: auto;
}
/************************** banner **************************/
/************************** about company **************************/

.about-company {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  margin: 16px;
  justify-content: space-around;
  color: #646464;
}
.about-company .img1 {
  width: 420px;
  margin-right: 12px;
}
.about-company .img2 {
  width: 300px;
  margin-top: 12px;
  margin-left: 24px;
}
.about-company .left-side {
  align-self: center;
}
.red-text {
  color: red;
}
.container h3 {
  color: black;
}
.first-element {
  display: flex;
  flex-direction: row;
}
.first-element .left-side {
  margin: 5px;
}
.first-element .right-side {
  margin-left: 5px;
}
.first-element img {
  width: 124px;
}
/************************** about company **************************/
/************************** out service **************************/

.our-service {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-service .title {
  font-size: 42px;
  color: black;
}
.our-service p {
  font-size: 28px;
  color: #646464;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 1;
  margin-bottom: 2;
}

.our-service img {
  width: 320px;
  margin: 8px;
}
.our-service .photos {
  display: flex;
  flex-direction: row;
}
/************************** out service **************************/
/************************** Gallery **************************/
.work-gallery {
  font-size: 16px;
  background-color: #616161;
  text-align: center;
  padding: 20px;
}
.work-gallery .title {
  padding-top: 24px;
  color: white;
}
.work-gallery .sub-title {
  color: #b1b1b1;
}
.work-gallery .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.work-gallery .gallery img {
  width: 300px;
  padding-right: 40px;
  padding-left: 20px;
}
/************************** Gallery **************************/
/************************** Testimonials **************************/
.Testimonials {
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Testimonials .img1 {
  width: 1000px;
}
.Testimonials .img2 {
  width: 240px;
  padding-bottom: 140px;
}
.Testimonials p {
  color: #727272;
}
/************************** Testimonials **************************/
/************************** Team **************************/
.team {
  text-align: center;
}
.team h2 {
  font-size: 48px;
}
.team p {
  margin-left: 24px;
  margin-right: 24px;
  font-size: 28px;
  margin-bottom: 12px;
  color: #727272;
}
.team .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.team .box img {
  width: 260px;
  margin: 18px;
}
/************************** Team **************************/
/************************** Promo banner **************************/

.promo-banner {
  background-image: url(./img/promo-banner/background-img.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.promo-banner .left-side {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.promo-banner .right-side {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
}
.promo-banner .left-side .text1 {
  font-size: 32px;
  color: white;
}
.promo-banner .left-side .text2 {
  font-size: 18px;
  color: white;
}
.promo-banner .right-side .img3 {
  height: 60px;
}
/************************** Promo banner **************************/

@media (max-width: 1280px) {
  * {
    max-width: 1280px;
  }
  .upper-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .telephone {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lower-header {
    background-color: #ef5050;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .lower-header .menu {
    max-width: 90%;
    padding-left: 10px;
  }
  .lower-header .button {
    max-width: 80%;
  }
  .banner {
    background-image: url(./img/banner/background-img.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
  }
  .banner .img1 {
    width: 550px;
    height: auto;
  }
  .banner .img2 {
    width: 270px;
    height: auto;
  }
  .about-company {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    margin: 16px;
    justify-content: space-around;
    color: #646464;
  }
  .about-company .img1 {
    width: 420px;
    margin-right: 12px;
  }
  .about-company .img2 {
    width: 300px;
    margin-top: 12px;
    margin-left: 24px;
  }
  .about-company .left-side {
    align-self: center;
  }
  .red-text {
    color: red;
  }
  .container h3 {
    color: black;
  }
  .first-element {
    display: flex;
    flex-direction: row;
  }
  .first-element .left-side {
    margin: 5px;
  }
  .first-element .right-side {
    margin-left: 5px;
  }
  .first-element img {
    width: 124px;
  }
  .our-service {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-service .title {
    font-size: 42px;
    color: black;
  }
  .our-service p {
    font-size: 28px;
    color: #646464;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 1;
    margin-bottom: 2;
  }

  .our-service img {
    width: 240px;
    margin: 8px;
  }
  .our-service .photos {
    display: flex;
    flex-direction: row;
  }
  .work-gallery {
    font-size: 16px;
    background-color: #616161;
    text-align: center;
    padding: 20px;
  }
  .work-gallery .title {
    padding-top: 24px;
    color: white;
  }
  .work-gallery .sub-title {
    color: #b1b1b1;
  }
  .work-gallery .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .work-gallery .gallery img {
    width: 200px;
    padding-right: 40px;
    padding-left: 20px;
  }
  .Testimonials {
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .Testimonials .img1 {
    width: 1000px;
  }
  .Testimonials .img2 {
    width: 240px;
    padding-bottom: 140px;
  }
  .Testimonials p {
    color: #727272;
  }
  .team {
    text-align: center;
  }
  .team h2 {
    font-size: 48px;
  }
  .team p {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 28px;
    margin-bottom: 12px;
    color: #727272;
  }
  .team .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .team .box img {
    width: 260px;
    margin: 18px;
  }
  .promo-banner {
    background-image: url(./img/promo-banner/background-img.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .promo-banner .left-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .promo-banner .right-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
  }
  .promo-banner .left-side .text1 {
    font-size: 32px;
    color: white;
  }
  .promo-banner .left-side .text2 {
    font-size: 18px;
    color: white;
  }
  .promo-banner .right-side .img3 {
    height: 60px;
  }
  .faq-news {
    text-align: center;
  }
  .faq-news h2 {
    font-size: 36px;
  }
  .faq-news p {
    color: #727272;
    font-size: 18px;
    margin: 20px;
  }
  .faq-news .box {
    display: flex;
    flex-direction: row;
  }
  .faq-news .right-side {
    display: flex;
    flex-direction: row;
  }
  .faq-news .box .right-side .img1 {
    width: 300px;
    margin: 10px;
  }
  .faq-news .box .left-side .img2 {
    width: 600px;
  }
  .faq-news .box .left-side .img3 {
    width: 600px;
  }
  .appointment {
    padding: 10px;
    text-align: center;
    background-color: #cccccc;
  }
  .appointment .upper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .appointment .upper input {
    width: 200px;
    margin: 10px;
    background-color: #232425;
  }
  .appointment .lower input {
    width: 670px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #232425;
  }
  .appointment form {
    background-color: #232425;
  }

  .appointment input {
    background-color: #232425;
    font-size: 20px;
  }
  .appointment .icon {
    width: 10%;
  }
  .appointment .button {
    width: 15%;
  }
  .appointment h2 {
    font-size: 36px;
    color: #333333;
  }
  .appointment p {
    font-size: 24px;
    color: #333333;
  }
  footer {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  footer img {
    width: 340px;
  }
  footer .third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .copyright {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1d1d1d;
  }
}
@media (max-width: 1024px) {
  .upper-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .telephone {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lower-header {
    background-color: #ef5050;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .lower-header .menu {
    max-width: 90%;
    padding-left: 10px;
  }
  .lower-header .button {
    max-width: 80%;
  }
  .banner {
    background-image: url(./img/banner/background-img.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
  }
  .banner .img1 {
    width: 450px;
    height: auto;
  }
  .banner .img2 {
    width: 220px;
    height: auto;
  }
  .about-company {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin: 16px;
    justify-content: space-around;
    color: #646464;
  }
  .about-company .img1 {
    width: 320px;
    margin-right: 12px;
  }
  .about-company .img2 {
    width: 300px;
    margin-top: 12px;
    margin-left: 24px;
  }
  .about-company .left-side {
    align-self: center;
  }
  .red-text {
    color: red;
  }
  .container h3 {
    color: black;
  }
  .first-element {
    display: flex;
    flex-direction: row;
  }
  .first-element .left-side {
    margin: 5px;
  }
  .first-element .right-side {
    margin-left: 5px;
  }
  .first-element img {
    width: 96px;
  }
  .our-service {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-service .title {
    font-size: 36px;
    color: black;
  }
  .our-service p {
    font-size: 24px;
    color: #646464;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 1;
    margin-bottom: 2;
  }

  .our-service img {
    width: 200px;
    margin: 8px;
  }
  .our-service .photos {
    display: flex;
    flex-direction: row;
  }
  .work-gallery {
    font-size: 16px;
    background-color: #616161;
    text-align: center;
    padding: 20px;
  }
  .work-gallery .title {
    padding-top: 24px;
    color: white;
  }
  .work-gallery .sub-title {
    color: #b1b1b1;
  }
  .work-gallery .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .work-gallery .gallery img {
    width: 190px;
    padding-right: 40px;
    padding-left: 20px;
  }
  .Testimonials {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .Testimonials .img1 {
    width: 600px;
  }
  .Testimonials .img2 {
    width: 140px;
    padding-bottom: 140px;
  }
  .Testimonials p {
    color: #727272;
  }
  .team {
    text-align: center;
  }
  .team h2 {
    font-size: 48px;
  }
  .team p {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 28px;
    margin-bottom: 12px;
    color: #727272;
  }
  .team .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .team .box img {
    width: 220px;
    margin: 18px;
  }
  .promo-banner {
    background-image: url(./img/promo-banner/background-img.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .promo-banner .left-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .promo-banner .right-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
  }
  .promo-banner .left-side .text1 {
    font-size: 32px;
    color: white;
  }
  .promo-banner .left-side .text2 {
    font-size: 18px;
    color: white;
  }
  .promo-banner .right-side .img3 {
    height: 60px;
  }
  .faq-news {
    text-align: center;
  }
  .faq-news h2 {
    font-size: 36px;
  }
  .faq-news p {
    color: #727272;
    font-size: 18px;
    margin: 20px;
  }
  .faq-news .box {
    display: flex;
    flex-direction: row;
  }
  .faq-news .right-side {
    display: flex;
    flex-direction: row;
  }
  .faq-news .box .right-side .img1 {
    width: 200px;
    margin: 10px;
  }
  .faq-news .box .left-side .img2 {
    width: 550px;
  }
  .faq-news .box .left-side .img3 {
    width: 550px;
  }
  .appointment {
    padding: 10px;
    text-align: center;
    background-color: #cccccc;
  }
  .appointment .upper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .appointment .upper input {
    width: 200px;
    margin: 10px;
    background-color: #232425;
  }
  .appointment .lower input {
    width: 670px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #232425;
  }
  .appointment form {
    background-color: #232425;
  }

  .appointment input {
    background-color: #232425;
    font-size: 20px;
  }
  .appointment .icon {
    width: 10%;
  }
  .appointment .button {
    width: 15%;
  }
  .appointment h2 {
    font-size: 36px;
    color: #333333;
  }
  .appointment p {
    font-size: 24px;
    color: #333333;
  }
  footer {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  footer img {
    width: 240px;
  }
  footer .third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .copyright {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1d1d1d;
  }
}
@media (max-width: 768px) {
  .upper-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
  }
  .telephone {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lower-header {
    background-color: #ef5050;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lower-header .menu {
    max-width: 90%;
    padding-left: 10px;
  }
  .lower-header .button {
    max-width: 80%;
  }
  .banner {
    background-image: url(./img/banner/background-img.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
  }
  .banner .img1 {
    width: 200px;
    height: auto;
  }
  .banner .img2 {
    width: 120px;
    height: auto;
  }
  .about-company {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin: 12px;
    justify-content: space-around;
    color: #646464;
  }
  .about-company .img1 {
    width: 240px;
    margin-right: 12px;
  }
  .about-company .img2 {
    width: 220px;
    margin-top: 12px;
    margin-left: 24px;
  }
  .about-company .left-side {
    align-self: center;
  }
  .red-text {
    color: red;
  }
  .container h3 {
    color: black;
  }
  .first-element {
    display: flex;
    flex-direction: row;
  }
  .first-element .left-side {
    margin: 5px;
  }
  .first-element .right-side {
    margin-left: 5px;
  }
  .first-element img {
    width: 72px;
  }
  .our-service {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-service .title {
    font-size: 24px;
    color: black;
  }
  .our-service p {
    font-size: 12px;
    color: #646464;
    margin-top: 1;
    margin-bottom: 2;
    margin-left: 32px;
    margin-right: 32px;
  }

  .our-service img {
    width: 96px;
    margin: 8px;
  }
  .our-service .photos {
    display: flex;
    flex-direction: row;
  }
  .our-service {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-service .title {
    font-size: 24px;
    color: black;
  }
  .our-service p {
    font-size: 16px;
    color: #646464;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 1;
    margin-bottom: 2;
  }

  .our-service img {
    width: 135px;
    margin: 8px;
  }
  .our-service .photos {
    display: flex;
    flex-direction: row;
  }
  .work-gallery {
    font-size: 16px;
    background-color: #616161;
    text-align: center;
  }
  .work-gallery .title {
    padding-top: 24px;
    color: white;
  }
  .work-gallery .sub-title {
    color: #b1b1b1;
  }
  .work-gallery .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .work-gallery .gallery img {
    width: 100px;
    margin: 10px;
  }
  .Testimonials {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .Testimonials .img1 {
    width: 600px;
  }
  .Testimonials .img2 {
    width: 140px;
    padding-bottom: 140px;
  }
  .Testimonials p {
    color: #727272;
  }
  .team {
    text-align: center;
  }
  .team h2 {
    font-size: 32px;
  }
  .team p {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 18px;
  }
  .team .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team .box img {
    width: 300px;
    margin-bottom: 18px;
  }
  .promo-banner {
    background-image: url(./img/promo-banner/background-img.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .promo-banner .left-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .promo-banner .right-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
  }
  .promo-banner .left-side .text1 {
    font-size: 24px;
    color: white;
  }
  .promo-banner .left-side .text2 {
    font-size: 14px;
    color: white;
  }
  .promo-banner .right-side .img3 {
    height: 40px;
  }
  .faq-news {
    text-align: center;
  }
  .faq-news h2 {
    font-size: 14px;
  }
  .faq-news p {
    color: #727272;
    font-size: 8px;
    margin: 20px;
  }
  .faq-news .box {
    display: flex;
    flex-direction: row;
  }
  .faq-news .right-side {
    display: flex;
    flex-direction: row;
  }
  .faq-news .box .right-side .img1 {
    width: 200px;
    margin: 10px;
  }
  .faq-news .box .left-side .img2 {
    width: 350px;
  }
  .faq-news .box .left-side .img3 {
    width: 350px;
  }
  .appointment {
    padding: 10px;
    text-align: center;
    background-color: #cccccc;
  }
  .appointment .upper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .appointment .upper input {
    width: 120px;
    margin: 10px;
    background-color: #232425;
  }
  .appointment .lower input {
    width: 420px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #232425;
  }
  .appointment form {
    background-color: #232425;
  }

  .appointment input {
    background-color: #232425;
    font-size: 14px;
  }

  .appointment h2 {
    font-size: 28px;
    color: #333333;
  }
  .appointment p {
    font-size: 18px;
    color: #333333;
  }
  footer {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  footer img {
    width: 220px;
  }
  footer .third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .copyright {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1d1d1d;
  }
}
@media (max-width: 480px) {
  .upper-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .telephone {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lower-header {
    background-color: #ef5050;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lower-header .menu {
    max-width: 90%;
    padding-left: 10px;
  }
  .lower-header .button {
    max-width: 80%;
  }
  .banner {
    background-image: url(./img/banner/background-img.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  .banner .img1 {
    width: 300px;
    height: auto;
  }
  .banner .img2 {
    width: 120px;
    height: auto;
  }
  .about-company {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    justify-content: space-around;
    color: #646464;
  }
  .about-company .img1 {
    width: 260px;
    margin-right: 12px;
  }
  .about-company .img2 {
    width: 180px;
    margin-top: 12px;
    margin-left: 24px;
  }
  .about-company .left-side {
    align-self: center;
  }
  .red-text {
    color: red;
  }
  .container h3 {
    color: black;
  }
  .first-element {
    display: flex;
    flex-direction: row;
  }
  .first-element .left-side {
    margin: 5px;
  }
  .first-element .right-side {
    margin-left: 5px;
  }
  .first-element img {
    width: 48px;
  }
  .our-service {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-service .title {
    font-size: 24px;
    color: black;
  }
  .our-service p {
    font-size: 18px;
    color: #646464;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 1;
    margin-bottom: 2;
  }

  .our-service img {
    width: 260px;
    margin: 8px;
  }
  .our-service .photos {
    display: flex;
    flex-direction: column;
  }
  .work-gallery {
    font-size: 16px;
    background-color: #616161;
    text-align: center;
  }
  .work-gallery .title {
    padding-top: 24px;
    color: white;
  }
  .work-gallery .sub-title {
    color: #b1b1b1;
  }
  .work-gallery .gallery {
    display: flex;
    flex-direction: column;
  }
  .work-gallery .gallery img {
    width: 220px;
  }
  .Testimonials {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .Testimonials .img1 {
    width: 360px;
  }
  .Testimonials .img2 {
    width: 140px;
    padding-bottom: 80px;
  }
  .Testimonials p {
    color: #727272;
  }
  .team {
    text-align: center;
  }
  .team h2 {
    font-size: 20px;
  }
  .team p {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 16px;
  }
  .team .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team .box img {
    width: 200px;
    margin-bottom: 18px;
  }
  .promo-banner {
    background-image: url(./img/promo-banner/background-img.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .promo-banner .left-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .promo-banner .right-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
  }
  .promo-banner .left-side .text1 {
    font-size: 18px;
    color: white;
  }
  .promo-banner .left-side .text2 {
    font-size: 16px;
    color: white;
  }
  .promo-banner .right-side .img3 {
    height: 20px;
  }
  .faq-news {
    text-align: center;
  }
  .faq-news h2 {
    font-size: 16px;
  }
  .faq-news p {
    color: #727272;
    font-size: 16px;
    margin: 20px;
  }
  .faq-news .box {
    display: flex;
    flex-direction: column;
  }
  .faq-news .box .right-side .img1 {
    width: 200px;
    margin: 10px;
  }
  .faq-news .box .left-side .img2 {
    width: 350px;
  }
  .faq-news .box .left-side .img3 {
    width: 350px;
  }
  .appointment {
    padding: 10px;
    text-align: center;
    background-color: #cccccc;
  }
  .appointment .upper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .appointment .upper input {
    width: 70px;
    margin: 10px;
    background-color: #232425;
  }
  .appointment .lower input {
    width: 260px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #232425;
  }
  .appointment form {
    background-color: #232425;
  }

  .appointment input {
    background-color: #232425;
    font-size: 8px;
  }

  .appointment h2 {
    font-size: 18px;
    color: #333333;
  }
  .appointment p {
    font-size: 16px;
    color: #333333;
  }
  footer {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  footer img {
    width: 240px;
  }
  footer .third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .copyright {
    padding: 20px;
  }
}
@media (max-width: 320px) {
  .upper-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .telephone {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lower-header {
    background-color: #ef5050;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lower-header .menu {
    max-width: 90%;
    padding-left: 10px;
  }
  .lower-header .button {
    max-width: 80%;
  }
  .banner {
    background-image: url(./img/banner/background-img.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
  .banner .img1 {
    width: 150px;
    height: auto;
  }
  .banner .img2 {
    width: 80px;
    height: auto;
  }
  .about-company {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    justify-content: space-around;
    color: #646464;
  }
  .about-company .img1 {
    width: 160px;
    margin-right: 12px;
  }
  .about-company .img2 {
    width: 100px;
    margin-top: 12px;
    margin-left: 12px;
  }
  .about-company .left-side {
    align-self: center;
  }
  .red-text {
    color: red;
  }
  .container h3 {
    color: black;
  }
  .first-element {
    display: flex;
    flex-direction: row;
  }
  .first-element .left-side {
    margin: 5px;
  }
  .first-element .right-side {
    margin-left: 5px;
  }
  .first-element img {
    width: 48px;
  }
  .our-service {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-service .title {
    font-size: 16px;
    color: black;
  }
  .our-service p {
    font-size: 14px;
    color: #646464;
    margin-top: 1;
    margin-bottom: 2;
  }

  .our-service img {
    width: 72px;
    margin: 4px;
  }
  .our-service .photos {
    display: flex;
    flex-direction: column;
  }
  .our-service img {
    width: 160px;
  }
  .work-gallery {
    font-size: 14px;
    background-color: #616161;
    text-align: center;
  }
  .work-gallery .title {
    padding-top: 24px;
    color: white;
  }
  .work-gallery .sub-title {
    color: #b1b1b1;
  }
  .work-gallery .gallery {
    display: flex;
    flex-direction: column;
  }
  .work-gallery .gallery img {
    width: 124px;
  }
  .Testimonials {
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .Testimonials .img1 {
    width: 220px;
  }
  .Testimonials .img2 {
    width: 100px;
    padding-bottom: 80px;
  }
  .Testimonials p {
    color: #727272;
  }
  .team {
    text-align: center;
  }
  .team h2 {
    font-size: 20px;
  }
  .team p {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 14px;
  }
  .team .box {
    display: flex;
    flex-direction: column;
    align-items: c;
  }
  .team .box img {
    width: 146px;
  }
  .promo-banner {
    background-image: url(./img/promo-banner/background-img.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .promo-banner .left-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .promo-banner .right-side {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
  }
  .promo-banner .left-side .text1 {
    font-size: 14px;
    color: white;
  }
  .promo-banner .left-side .text2 {
    font-size: 14px;
    color: white;
  }
  .promo-banner .right-side .img3 {
    height: 20px;
  }
  .faq-news {
    text-align: center;
  }
  .faq-news h2 {
    font-size: 14px;
  }
  .faq-news p {
    color: #727272;
    font-size: 14px;
    margin: 20px;
  }
  .faq-news .box {
    display: flex;
    flex-direction: column;
  }
  .faq-news .box .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .faq-news .box .right-side .img1 {
    width: 200px;
  }
  .faq-news .box .left-side .img2 {
    width: 250px;
  }
  .faq-news .box .left-side .img3 {
    width: 250px;
  }
  .appointment {
    padding: 10px;
    text-align: center;
    background-color: #cccccc;
  }
  .appointment .upper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .appointment .upper input {
    width: 200px;
    margin: 10px;
    background-color: #232425;
  }
  .appointment .lower input {
    width: 200px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #232425;
  }
  .appointment form {
    background-color: #232425;
  }

  .appointment input {
    background-color: #232425;
    font-size: 14px;
  }

  .appointment h2 {
    font-size: 18px;
    color: #333333;
  }
  .appointment p {
    font-size: 14px;
    color: #333333;
  }
  footer {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  footer img {
    width: 170px;
  }
  footer .third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
